# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
info.txt
/.idea/
/conf/production.conf
/download/
/model/
/shared/.js/target/
/shared/.jvm/target/
/shared/js/target/
/shared/jvm/target/
/client/target/
/RUNNING_PID
/node_modules/
/test/ExploreByensBazarLogon.scala
/test/ExploreKirppuLogon.scala
/.bsp/
