@font-face {
  font-family: 'Linux Libertine';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/LinuxLibertine') format('woff');
}

@font-face {
  font-family: 'Linux Libertine Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/LinuxLibertineIt') format('woff');
}

@font-face {
  font-family: 'Coda regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/CodaRegular') format('ttf');
}

html, body {
    font-family: "Linux Libertine Italic";
    font-size: 30px;
}

#main-navbar {
  height: 130px;
}
