@(pages : Seq[_root_.dk.lokallykke.client.viewmodel.customer.CustomerPage],
  page : _root_.dk.lokallykke.client.viewmodel.customer.CustomerPage,
  contents : Seq[_root_.dk.lokallykke.client.viewmodel.customer.CustomerPageContent],
  items : Seq[_root_.dk.lokallykke.client.viewmodel.customer.CustomerItem]
)

@import _root_.dk.lokallykke.client.customerpages.Elements
@import _root_.play.api.libs.json.Json
@import _root_.dk.lokallykke.client.viewmodel.customer.CustomerItem

<script type="module">
    let items = @{
      implicit val writes = Json.writes[CustomerItem]
      Html(Json.stringify(Json.toJson(items)))
    }
    CustomerPages.setItems(JSON.stringify(items))
  </script>

@headerAddOn = {
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/customerpage.css")">
  <script type="module">
  </script>
}

@main(page.name, headerAddOn, pages,  "#") {
  <main role="main" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 class="page-name-header">@{page.name}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="lead">@{page.caption}</p>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <svg id="sub-header-hr" viewBox="0 -30 810 150" width="810px" height="200px">
           <g fill="none" stroke="#fcb603" stroke-width="11.3">
            <path
                  fill="none"
                  d="m 0,30 q 100,-30 400,30 m 10,0 q 300,-60 400,-30"
                  stroke="#fcb603"
                  stroke-width="1.3"
            />
          </g>
        </svg>
        </div>
      </div>

          @for(cont <- contents){
           <div class="row">
             <div class="d-flex justify-content-center">

            @(cont.header, cont.imageUrl, cont.paragraph, cont.orderedList, cont.unOrderedList) match {
               case (Some(p),_,_,_,_) => { <p class="h@{p._2} lead">@{p._1}</p> }
               case (_,Some(imgUrl),_,_,_) => { <img src="@imgUrl" class="img-fluid"> }
               case (_,_,Some(paragraph),_,_) => { <p class="text-justify">@paragraph</p> }
               case (_,_,_,Some(lis),_) => { <ol>@for(it <- lis){<li>@it</li>}</ol> }
               case (_,_,_,_,Some(lis)) => { <ul>@for(it <- lis){<li>@it</li>}</ul> }
            }
             </div>
           </div>
          }

        <div id="@{Elements.ImageGridHolderId}">
        </div>



    </div>
  </main>


}