@(items : Seq[_root_.dk.lokallykke.client.viewmodel.items.ViewItem], tagOptions : String)

@import _root_.dk.lokallykke.client.items.Items
@import _root_.dk.lokallykke.client.viewmodel.items.ViewItem
@import _root_.play.api.libs.json.Json

@headerAddOn = {
  <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/items.css")">

  <script type="module">
    Items.main()
    let items = @{
      implicit val writes = Json.writes[ViewItem]
      Html(Json.stringify(Json.toJson(items)))
    }
    Items.updateTable(JSON.stringify(items))
    Items.setTagOptions('@{Html(tagOptions)}')
  </script>
}

@adminmain("Items", headerAddOn, "items") {
  <main role="main" class="fill-vertical">
    <div class="container-fluid fill-vertical">
      <div class="row fill-vertical">
        <div class="col-1 bg-light side-bar border-right no-padding" style="background-color: #e3f2fd;">
          <div class="sidebar-sticky d-flex flex-column">
            <h6 class="sidebar-heading d-flex text-muted my-4 mx-2">
              <span>Beholdning</span>
            </h6>
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action" typ="items-nav" href="#" id="items-nav-on-stock">På lager</a>
              <a class="list-group-item list-group-item-action" typ="items-nav" href="#" id="items-nav-sold" disabled>Solgt</a>
              <a class="list-group-item list-group-item-action" typ="items-nav" href="#" id="items-nav-all" disabled>Alle</a>
            </div>
            <h6 class="sidebar-heading d-flex text-muted my-4 mx-2">
              <span>Importér</span>
            </h6>
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action" typ="items-nav" href="#" id="items-nav-upload">Upload</a>
              <a class="list-group-item list-group-item-action" typ="items-nav" href="#" id="items-nav-instagram">Fra Instagram</a>
            </div>
          </div>
        </div>
        <div class="col-11">
          <div class="container-fluid my-3" id="items-search-container">
            <h3>Filtrér</h3>
            <form class="row g-3">
              <div class="col-auto">
                <label for="items-search-labels" class="form-label">Mærkater</label>
              </div>
              <div class="col-3">
                <input id="items-search-labels"/>
              </div>
              <div class="col-auto">
                <label for="items-search-name" class="form-label">Navn</label>
              </div>
              <div class="col-auto">
                <input type="text" id="items-search-name" class="form-control"/>
              </div>
              <div class="col-auto">
                <button type="button" id="items-search-submit" class="btn btn-secondary">Filtrér</button>
              </div>
            </form>
          </div>
          <div id="items-content">
          </div>
          <div id="items-content-sub">

          </div>
        </div>
      </div>
    </div>
  </main>

}