@(items : Seq[_root_.dk.lokallykke.client.viewmodel.items.ViewItem])

@import _root_.dk.lokallykke.client.items.Items
@import _root_.dk.lokallykke.client.viewmodel.items.ViewItem
@import _root_.play.api.libs.json.Json

@headerAddOn = {
  <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/items.css")">

  <script type="module">
    Items.main()
    let items = @{
      implicit val writes = Json.writes[ViewItem]
      Html(Json.stringify(Json.toJson(items)))
    }
    Items.updateTable(JSON.stringify(items))
  </script>
}

@main("Items", headerAddOn, "items") {
  <main role="main" class="">
    <div class="container-fluid flex-fill">
      <div class="row">
        <div class="col-2 bg-light side-bar flex-fill" style="background-color: #e3f2fd;">
          <div class="sidebar-sticky flex-column flex-fill" style="height=100vh;">
            <h6 class="sidebar-heading d-flex text-muted mt-4">
              <span>I beholdning</span>
            </h6>
            <a class="nav-link" href="#" id="items-nav-on-stock">På lager</a>
            <a class="nav-link" href="#" id="items-nav-sold">Solgt</a>
            <a class="nav-link" href="#" id="items-nav-all">Alle</a>
          </div>
        </div>
        <div class="col-10">
          <div id="items-content-insert">
            <div id="items-table-insert">

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

}