@(title : String, headerAddOn : Html = Html(""), pages : Seq[_root_.dk.lokallykke.client.viewmodel.customer.CustomerPage], caller : String)(content : Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="icon" type="image/png" href="@controllers.routes.LokalLykkeAssets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("lib/bootstrap/css/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/main.css")"/>
    <script src="@controllers.routes.LokalLykkeAssets.jsLibrary()" type="text/javascript"></script>
        @headerAddOn
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8E8A2;" id="main-navbar">
      <div class="container-fluid">
        <a class="navbar-brand mt-4 mb-1" href="#" id="main-brand-button">
            <svg id="main-logo-image" viewBox="-200 0 1000 1000" width="150px" height="150px">
                <style>
    			  @@font-face {
                    font-family: farro;
                    src: url(./Farro-Regular.ttf);
                 }
    			  @@font-face {
                    font-family: amatic;
                    src: url(./AmaticSC-Regular.ttf);
                 }

			    .large { font-size: 120px; font-family: farro; }
				.small { font-size: 76px; font-family: amatic}
			  </style>
                <g fill="none" stroke="#fcb603" stroke-width="11.3">
                    <path
                            fill="none"
                            d="m 136,350 q -100,-100 -100,-124 a 128,128 0 1 1 200,0 Q 220,250 136,350 Z"
                            stroke="#fcb603"
                            stroke-width="11.3"
                    />
                    <circle cx="136" cy="150" r="55"/>
                </g>
                <g fill="#fcb603" stroke="#fcb603" stroke-width="5.3">
                    <text x="136" y="500" text-anchor="middle" class="large">Lokal Lykke</text>
                    <text x="136" y="650" text-anchor="middle" class="small">Genbrug & Unika</text>
                </g>

            </svg>
        </a>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                @for(pag <- pages) {
                  <li class="nav-item mt-4 mb-2">
                      <a class="nav-link @{if(caller == pag.name) "active" else ""}" href="@pag.pageUrl">@pag.name</a>
                  </li>
                }
            </ul>

        </div>
      </div>
    </nav>
    @content
    <div id="main-modal-holder"/>
</body>