@(pageShellsString : String, tags : String)

@import _root_.play.api.libs.json.Json

@headerAddOn = {
  <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/pages.css")">

  <script type="module">
    Pages.setPageShells('@Html(pageShellsString)')
    Pages.setTags('@tags')
    Pages.main()
  </script>
}

@adminmain("Sider", headerAddOn, "pages") {
  <main role="main" class="fill-vertical">
    <div class="container-fluid fill-vertical">
      <div class="row fill-vertical">
        <div class="col-1 bg-light side-bar border-right no-padding" style="background-color: #e3f2fd;">
          <div class="sidebar-sticky d-flex flex-column">
            <div class="form-group m-4">
              <btn class="btn btn-outline-success" id="pages-sidebar-create-button">Ny side</btn>
            </div>
            <h6 class="sidebar-heading d-flex text-muted my-4 mx-2">
              <span>Sider</span>
            </h6>
            <div class='list-group list-group-flush' id="pages-sidebar-pages-insert">
            </div>
          </div>
        </div>
        <div class="col-11">
          <div id="pages-content" class="container-fluid">
          </div>
        </div>
      </div>
    </div>
  </main>

}