@(pages : Seq[(String, String)], carouselItems : Seq[_root_.lokallykke.model.items.Item])

@headerAddOn = {
  <link rel="stylesheet" media="screen" href="@controllers.routes.LokalLykkeAssets.at("css/shop.css")">

  <script type="module">
  </script>
}

@main("Butik", headerAddOn, pages,  "#") {
  <main role="main">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 clearfix">
          <div class="carousel slide w-10" data-ride="carousel">
            <ol class="carousel-indicators">
              @for(it <- carouselItems.zipWithIndex) {
                <li data-target="#carousel-indicators" data-slide-to="@it._2" class='@{if(it._2 == 0) "active"}'></li>
              }
            </ol>
            <div class="carousel-inner">
              @for(it <- carouselItems.zipWithIndex) {
                <div class='carousel-item @{if(it._2 == 0) "active" else ""}'>
                  <img class="d-block w-10" src = '@controllers.routes.LokalLykkeAssets.itemImage(it._1.id).url'>
                </div>
              }
            </div>

          </div>
        </div>

      </div>
    </div>
  </main>


}